<!DOCTYPE html>
<html>
<head>
  <title>Mynote</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <a href="#" class="navbar-brand">Mynote</a>
     <ul class="nav nav-tabs" role="tablist">
     <li><%= link_to 'All Notes', notes_path %></li>
      
     </ul>
  
</nav>
	  

<div class="container">

    <%= yield %>
  </div>

</body>
</html>
